@for $i from 0 through 30 {
	.p-#{5*$i} {
		padding: 5px * $i;
	}

	.m-#{5*$i} {
		margin: 5px * $i;
	}
}

@each $pd, $padding in $paddings {
	@for $i from 0 through 30 {
		.#{$pd}-#{5*$i} {
			#{$padding}: 5px * $i;
		}
	}

	@media (max-width: #{$md}) {
		@for $i from 0 through 30 {
			.#{$pd}-md-#{5*$i} {
				#{$padding}: 5px * $i;
			}
		}
	}

	@media (max-width: #{$sm}) {
		@for $i from 0 through 30 {
			.#{$pd}-sm-#{5*$i} {
				#{$padding}: 5px * $i;
			}
		}
	}
}

@each $mg, $margin in $margins {
	@for $i from 0 through 30 {
		.#{$mg}-#{5*$i} {
			#{$margin}: 5px * $i;
		}
	}

	@media (max-width: #{$md}) {
		@for $i from 0 through 30 {
			.#{$mg}-md-#{5*$i} {
				#{$margin}: 5px * $i;
			}
		}
	}

	@media (max-width: #{$sm}) {
		@for $i from 0 through 30 {
			.#{$mg}-sm-#{5*$i} {
				#{$margin}: 5px * $i;
			}
		}
	}
}

@for $i from 0 through 30 {
	.gap-#{5*$i} {
		gap: 5px * $i;
	}
}
